* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ----------------------------------- Nav ---------------------------------- */
nav {
    display: flex;
    background-color: #222f58;
    padding: 10px 0;
    align-items: center;
    font-family: 'Ubuntu Mono', monospace;
}

nav img {
    width: 70px;
}

.logo-nav {
    width: 70px;
    margin-left: 20px;
}

.logo-nav img:hover{
    transform: rotate(360deg);
    transition: 2s;
}

nav a {
    text-decoration: none;
    border: 2px dashed #d9d9d9;
    padding: 5px 15px;
    margin-left: 15px;
    color: #d9d9d9;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

a[href^="#"],
nav a:hover {
    color: #f8e12e;
    border-color: #f8e12e;
}

nav a:hover {
    box-shadow: 0px 0px 10px 0px #f8e12e;
}

.pages-nav {
    display: flex;
    width: 90%;
    justify-content: center;
}


/* --------------------------------- Header --------------------------------- */
header {
    height: 200px;
    width: 100%;
    position: relative;
}

.banner-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(3.5px);
}

h1 {
    color: #d9d9d9;
    font-size: 90px;
    font-weight: bold;
    font-family: 'Bitter', serif;
    position: absolute;
    top: 30px;
    left: 15%;
    padding: 15px;
    text-shadow: 6px 6px #222f58;
}


/* -------------------------------------------------------------------------- */
.title p {
    text-align: center;
    font-size: 32px;
    padding: 15px;
    font-family: 'Codystar', cursive;
    color: #f8e12e;
    background-color: #131217;
    border-top: 3px dashed #f8e12e;
    border-bottom: 3px dashed #f8e12e;
    animation-name: title-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes title-animation {
    from {
        color: red;
    }

    to {
        color: yellow;
    }
}

.title {
    position: sticky;
    top: 0px;
}


/* ---------------------------------- Home ---------------------------------- */
.container-flex {
    display: flex;
    padding: 50px 0 80px;
    background-image: url(../images/design1_image1.jpg);
    font-family: 'Ubuntu Mono', monospace;
}

.logo {
    width: 180px;
}

#home-img img {
    width: 400px;
    margin: 20px 0px 15px;
    box-shadow: 0px 0px 5px 3px #f9f9f9;
}

.left-side {
    width: 15%;
    text-align: center;
    margin-left: 5%;
    box-shadow: 0px 0px 25px 0px #f9f9f9;
    background-image: url(../images/players1.jpg);
    background-repeat: no-repeat;
}

p {
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}

.about-text p,
.right-text p {
    text-indent: 50px;
}

h2 {
    font-size: 25px;
    color: #f8e12e;
}

.right-side div {
    padding-bottom: 20px;
}

.right-side {
    width: 70%;
    margin-left: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,47,88,0.929140406162465) 35%);
    padding: 40px;
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 25px 0px #f9f9f9;
}

h2 .fa-star {
    color: #d9d9d9;
}


/* ---------------------------------- About --------------------------------- */
.about-1 img,
.about-2 img {
    width: 25%;
    box-shadow: 0px 0px 5px 3px #f9f9f9;
}

.about-1 img:hover,
.about-2 img:hover {
    box-shadow: 0px 0px 12px 10px #f9f9f9;
}

.about-1,
.about-2 {
    display: flex;
}

.about-2 {
    flex-direction: row-reverse;
}

.about-text {
    padding: 50px;
}

.about-text h2 {
    margin-bottom: 10px;
    font-size: 30px;
    text-shadow: 4px 4px 2px rgba(217, 217, 217, 0.6);
}


/* --------------------------------- Contact -------------------------------- */
#contact-img {
    width: 500px;
    margin-top: 40px;
    box-shadow: 0px 0px 7px 4px #d9d9d9;
}

.contact p {
    font-size: 25px;
    margin-bottom: 15px;
}

.contact a {
    color: #5fa199;
}

.contact a:hover {
    color: #f8e12e;
}

.fa-solid,
.fa-regular {
    color: #f8e12e;
}


/* -------------------------------- Game Info ------------------------------- */
.right-info h2, .right-maps h2, .form-title h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
    text-shadow: 4px 4px 2px rgba(217, 217, 217, 0.6);
}

table {
    width: 800px;
    text-align: center;
}

th {
    font-size: 30px;
    color: #f8e12e;
}

.date {
    font-weight: bold;
    font-size: 30px;
}

tr {
    font-size: 25px;
}

th,
td {
    padding-top: 10px;
}

#table-title th {
    padding-bottom: 15px;
    border-bottom: 3px solid white;
}

table a:hover {
    color: red;
}

/* -------------------------------------------------------------------------- */
.right-maps {
    margin-top: 80px;
    padding-top: 30px;
    width: 100%;
    border-top:  3px dashed #f8e12e;
}

.maps {
    width: 100%;
    margin-top: 50px;
    display: flex;
}


.table-maps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table-maps div {
    flex-direction: column;
    margin: 15px 30px;
}

.table-maps p {
    text-align: center;
    margin: 15px;
}

/* -------------------------------------------------------------------------- */
.table-footer {
    padding: 10px 50px;
    border-top:  3px dashed #f8e12e;
}

.table-footer p {
    margin-top: 15px;
}

#title-coord {
    text-align: center;
    padding-bottom: 15px;
    margin-top: 50px;
}

#coordinator {
    display: flex;
    justify-content: center
}

#coordinator p {
    margin-left: 40px;
}

.fa-solid {
    margin-right: 10px;
}

#coordinator a {
    color: #5fa199;
}

#coordinator a:hover {
    color: #f8e12e;
}

.page-up {
    text-align: center;
    margin-top: 25px;
}

.page-up .fa-circle-up:hover {
    transform: scale(1.2);
}

/* ---------------------------- Rules & Policies ---------------------------- */
.right-rules {
    width: 70%;
    margin-left: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,47,88,0.929140406162465) 35%);
    padding: 40px 80px;
    color: #d9d9d9;
    padding-bottom: 80px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px 0px #f9f9f9;
}

.rules-title {
    text-align: center;
}

.rules-title h2 {
    font-size: 40px;
    text-shadow: 4px 4px 2px rgba(217, 217, 217, 0.6);
}

.rules-title p {
    text-align: center;
    margin-top: 10px;
}

.rules-1 p {
    text-indent: 40px;
    margin-top: 20PX;
}

.rules-1 {
    margin-bottom: 50px;
}

.rules-1,
.rules-2 {
    margin-top: 60px;
}

.list,
.list-2 {
    margin-left: 20px;
}

.list {
    margin-top: 20px;
}

.list-2 li {
    margin-top: 10px;
}

.sub-rules li {
    margin: 15px 0 10px 60px;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}

.fa-circle {
    color: #d9d9d9;
}

/* ---------------------------- Registration Form --------------------------- */
legend {
    font-size: 25px;
    color: #f8e12e;
    margin-bottom: 20px;
}

label {
    font-size: 20px;
    margin-right: 5px;
}

input {
    margin-right: 15px;
    height: 30px;
}

.container-form {
    width: 90%;
    padding: 0px 40px;
    border: 4px double;
}

.uniform, .personal, .school, .position{
    margin-top: 30px;
}

.form-subt, .form-subt2 {
    font-size: 28px;
    color: #f8e12e;
     margin-bottom: 20px;
}

.form-subt {
    border-top: 5px double #d9d9d9;
    padding-top: 40px;
}



#sub-gender, #sub-grade, #sub-school{
    font-weight: normal;
    margin-right: 15px;
}

#sub-school {
    margin-bottom: 15px;
    color: #f8e12e;
}

#subt-gender {
    margin-left: 25px;
}

#fname, #lname {
    width: 30%;
}

#fname, #lname, #address, #city, #zip {
    margin-bottom: 15px;
}

#address {
    width: 80%;
}

#city {
    width: 47%;
}
#zip {
    width: 30%;
}

.date-gender {
    display: flex;
    align-items: baseline;
}

input[type="radio" i],
input[type="checkbox" i]{
    width: 20px;
    display: flex;
    align-self: center;
}

#div-grade input {
    margin-right: 0px;
}

#div-grade label {
   margin-right: 25px;
   margin-left: 10px;
}

#div-grade {
    display: flex;
    align-items: center;
}

/* -------------------------------------------------------------------------- */

.div-form{
    flex-wrap: wrap;
    display: flex;
    width: 500px;
}

.label{
    width: 200px;
}















/* -------------------------------------------------------------------------- */
#permission {
    margin-top: 30px;
    width: 100%;
    border-top: 3px dashed #f8e12e;
    padding: 30px 20px 0;
}

#permission p {
    margin-top: 15px;
    text-indent: 40px;
}

#firms {
    margin-top: 60px;
}

/* --------------------------------- Footer --------------------------------- */
footer img {
    width: 60px;
}

footer {
    background-color: #222f58;
    color: #f8e12e;
    padding: 15px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu Mono', monospace;
}

footer p {
    font-size: 20px;
    margin-left: 25px;
}